<form id="playlist-yt-import" autocomplete="off" onsubmit="event.preventDefault();">
	<p class="notes">{{localize 'music-assist.import-yt-playlist-notes'}}</p>
	<div class="form-group">
		<div class="form-fields">
			<input id="music-assist-yt-import-url-text" type="text" placeholder="https://www.youtube.com/playlist?list=PLccmC0-jXVkiQF1uMehdwqSlpXafNAe_e">
			<button id="music-assist-yt-import-btn-import" type="button" name="import"><i class="fas fa-file-import"></i></button>
		</div>
	</div>
	<div class="playlist-import-loading-spinner hidden"></div>
	<section class="playlist-import-container">
		{{#if playlistItems}}
		<ol>
			{{#each playlistItems}}
			<li>
				{{this.title}}
			</li>
			{{/each}}
		</ol>
		{{/if}}
	</section>
	<button id="music-assist-yt-import-btn-confirm" type="submit" name="submit" disabled><i class="fas fa-check"></i>{{localize 'music-assist.import-yt-playlist-btn-submit'}}</button>
</form>
