.sidebar-tab > .directory-footer > button.import-yt-playlist {
	flex-basis: 100%;
	margin-top: 3px;
}

.playlist-import-container {
	overflow: auto;
	max-height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.playlist-import-loading-spinner {
  border: 8px solid #f3f3f3;
	border-top: 8px solid #2b2c41;
	border-bottom: 8px solid #2b2c41;
  border-radius: 50%;
  width: 40px;
  height: 40px;
	animation: spin 2s linear infinite;
	margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
	display: none;
}

/* bug in foundry's styling obscures ordered lists larger than 100. */
.playlist-import-container > ol {
	 margin: 0 0 0 2.25em;
}